<a href="https://colab.research.google.com/github/ivansanchezflores921-web/ivan-sanchez-vanessa-cardenas-py-2PRACTICAS../blob/main/leija_sanchez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
estudianntes = pd.read_csv("/content/dataset/Estuduantes.csv")
estudianntes

      NOMBRE  EDAD     GENERO  PROMEDIO
0    Braulio    19  Masculino        77
1     Mihael    19  Masculino        82
2     Aseret    19   Femenino        86
3      Josue    18  Masculino        88
4       Aldo    22  Masculino        80
5       Ivan    19  Masculino        72
6    Vanessa    19   Femenino        73
7   Gabriela    17   Femenino        71
8    Missael    19  Masculino        75
9       Alan    19  Masculino        70
10    Alexis    19  Masculino        90
11    Brayan    19  Masculino        87
12     Diego    19  Masculino        85
13      Luis    20  Masculino        80
14     Efren    20  Masculino        78
15     yamil    22  Masculino        82

In [6]:
estudianntes["PROMEDIO"].describe()

count    16.000000
mean     79.750000
std       6.392704
min      70.000000
25%      74.500000
50%      80.000000
75%      85.250000
max      90.000000
Name: PROMEDIO, dtype: float64

In [9]:
estudianntes["GENERO"].describe()

count            16
unique            2
top       Masculino
freq             13
Name: GENERO, dtype: object

In [11]:
estudianntes["PROMEDIO"].mean()

np.float64(79.75)

In [12]:
estudianntes["GENERO"].unique()

array(['Masculino', 'Femenino'], dtype=object)

In [13]:
estudianntes['EDAD'].value_counts()

EDAD
19    10
22     2
20     2
18     1
17     1
Name: count, dtype: int64

In [17]:
promedio = estudianntes["PROMEDIO"].mean()
estudianntes["PROMEDIO"].map(lambda promedio_value: promedio_value - promedio)

0     -2.75
1      2.25
2      6.25
3      8.25
4      0.25
5     -7.75
6     -6.75
7     -8.75
8     -4.75
9     -9.75
10    10.25
11     7.25
12     5.25
13     0.25
14    -1.75
15     2.25
Name: PROMEDIO, dtype: float64

In [20]:
def normalizar_promedio_estudianntes(row):
    row['sprending']

In [21]:
def promedio_valores (column):
  if column.dtype == "int64":
    column = column - 100
  if column.dtype == "object":
    column = column.str.upper()
  return column
estudianntes.apply(promedio_valores, axis='index')

      NOMBRE  EDAD     GENERO  PROMEDIO
0    BRAULIO   -81  MASCULINO       -23
1     MIHAEL   -81  MASCULINO       -18
2     ASERET   -81   FEMENINO       -14
3      JOSUE   -82  MASCULINO       -12
4       ALDO   -78  MASCULINO       -20
5       IVAN   -81  MASCULINO       -28
6    VANESSA   -81   FEMENINO       -27
7   GABRIELA   -83   FEMENINO       -29
8    MISSAEL   -81  MASCULINO       -25
9       ALAN   -81  MASCULINO       -30
10    ALEXIS   -81  MASCULINO       -10
11    BRAYAN   -81  MASCULINO       -13
12     DIEGO   -81  MASCULINO       -15
13      LUIS   -80  MASCULINO       -20
14     EFREN   -80  MASCULINO       -22
15     YAMIL   -78  MASCULINO       -18